@extends('layouts.master')
@section('content')

@include('layouts.header')

<div class="container jobs-detail clearfix" style="margin: 2em auto;">
	<div class="main-content clearfix" style="padding-top: 3em; margin-top: 0; background: white;">
		<div class="title" style="margin: 0; padding-bottom: 1em">
			RESULTADOS DE BÚSQUEDA
		</div>
		</div>
		</div>