.agenda {
	padding-bottom: 2em;
	.title {
		text-align: center;
		font-family: "Lato";
		font-weight: 400;
		margin: 1.5em 0;
		font-size:  37px;
	}

	.nav-tabs > li {
		width: 50%;
		text-align: center;
	}

	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		border: 0;
		border-bottom: 5px solid #444;
		background: white;
		border-radius: 0;
		font-family: "Lato";
		font-weight: 600;
		font-size: 13px;
		margin: inherit 0;
	}

	.nav-tabs > li.active a {
		color: #444 !important;
	}

	.nav-tabs > li > a {
		line-height: 1.42857143;
		border: 0;
		border-bottom: 5px solid #dcdcdc;
		background: #f3f3f3;
		border-radius: 0;
		color: #dcdcdc;
		font-family: "Lato";
		font-weight: 600;
		font-size: 13px;
		margin: 0 0;
	}

	.nav-tabs {
		border-bottom: 0;
		margin-bottom: 3em;
	}

	button.fc-prev-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
		background: transparent;
		box-shadow: none;
		border: 0;
	}

	button.fc-next-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right {
		background: transparent;
		box-shadow: none;
		border: 0;
	}

	.fc-center h2 {
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		margin-top: 8px;
	}

	th.fc-day-header.fc-widget-header {
		padding: 1.6em 0;
		font-size: 12px;
	}

	.fc-day-number {
    text-align: center !important;
    padding-top: 1.3em !important;
  }

  .ticks {
  	margin-top: 1em;

  	span {
  		margin-right: 4em;
  		font-size: 13px;
			font-weight: 600;
  	}
  }

  .header-list h2 {
  	font-family: "Lato";
  	font-weight: 600;
  	color: red;
  	margin-bottom: 0px;
  }

  .header-list h3 {
  	color: black;
  	font-weight: 400;
  	color: #505154;
  	margin-top: 9px;
  	margin-bottom: 1em;
  }

  .items {
  	font-family: "Lato";

  	.item {
  		.hour, .event-title {
  			margin: 0;
  		}

  		.hour {
  			color: #c5c5c5;
  			font-weight: bold;
  		}

  		.event-title {
  			font-weight: bold;
  		}

  		.event-description {
  			color: #c5c5c5;
  		}
  	}
  }
}